/* Global styles */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  
  /* Main styles */
  main {
    margin: 20px auto;
    max-width: 800px;
  }
  
  iframe {
    border: none;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .credits {
    font-size: 14px;
  }
  
  .credits a {
    color: #fff;
    text-decoration: underline;
  }
  